@font-face {
	font-family: 'Pacifico';
	src: url('/fonts/Pacifico/Pacifico-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

.dynapuff400 {
	font-family: 'DynaPuff', serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
}

:root {
	font-family: 'DynaPuff', serif;
	font-weight: 400;
	font-style: normal;
	color-scheme: light;
	--dimmed-alpha: 0.1;
	--dimmed-primary-border: rgb(from var(--pico-primary-border) r g b / 0.5);
	--dimmed-icon-checkbox: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255, 0.7)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
	--min-button-width: 180px;
	--pico-font-family: 'DynaPuff', serif;

	--peach-pastel: #ffecd9;
	--blue-pastel: #d1e9f6;
	background-color: var(--blue-pastel);

	--cursor-happy: url('/icons/cursors/bubble-tea-happy-24.png');
	--cursor-bear: url('/icons/cursors/bubble-tea-bear-24.png');
	--cursor-laugh: url('/icons/cursors/bubble-tea-laugh-24.png');
	cursor: var(--cursor-happy), auto;

	/* --pico-primary-hover-background: var(--pico-color-fuchsia-400);
	--pico-primary-hover-background: var(--pico-color-fuchsia-400);
	--pico-background-color: var(--pico-color-fuchsia-300); */
}

[role='button'],
[type='button'],
[type='file']::file-selector-button,
[type='reset'],
[type='submit'],
button {
	cursor: var(--cursor-bear), pointer;
	/* background-color: var(--pico-color-fuchsia-300); */
}

:where(a:not([role='button'])),
[role='link'] {
	cursor: var(--cursor-bear), pointer;
}

input {
	max-width: 320px;
	cursor: var(--cursor-laugh), text;
	caret-color: var(--pico-color-fuchsia);
	background-color: var(--peach-pastel);
}

.star {
	position: fixed;
	pointer-events: none;
}
.star:before,
.star:after {
	position: absolute;
	top: 0;
	left: 0;
	content: '\2726';
	font-size: 9px;
}
.star:before {
	color: transparent;
	text-shadow: 0 0 3px rgb(250, 250, 174);
}
.star:after {
	background: var(--pico-color-fuchsia-500);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.bg-default {
	background-color: var(--blue-pastel);
}

.character-name {
	display: inline;
	text-decoration: underline;
	text-decoration-color: var(--pico-color-fuchsia);
	color: var(--pico-color-fuchsia);
}

.inline-emphasis {
	display: inline;
	text-decoration: underline;
	text-decoration-color: var(--pico-color-fuchsia);
	color: var(--pico-color-fuchsia);
}

.h2-emphasis {
	margin-bottom: var(--pico-typography-spacing-vertical);
	margin-top: var(--pico-typography-spacing-vertical);
	text-decoration: underline;
	text-decoration-color: var(--pico-color-fuchsia);
	color: var(--pico-color-fuchsia);
}

.mb-0 {
	margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
li,
a {
	user-select: none;
}

.transparent {
	opacity: 0;
}

.ingame {
	text-align: center;
	min-height: 100vh;
	margin: 0 auto;
	padding: 1rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

button:has(svg) {
	padding: 0.5rem;
}

.area-main {
	grid-area: main;
}

.area-appbar {
	grid-area: appbar;
}

.hstack {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.btn-mw {
	min-width: 180px;
}

.game-layout {
	grid-template-areas:
		'appbar'
		'main';
	grid-template-rows: min-content 1fr;
	display: grid;
}
